<div class="row">
  <div class="col-md-6">
    <h3>Your Emails</h3>
      <ul>
        {{#each email in model}}
        <li>
          {{#link-to 'email' email}}<h6>From:{{email.from}}  |  Subject: {{email.subject}}</h6> {{/link-to}}  
        </li>
        {{/each}}
      </ul>
  </div>

  <div class="col-md-6">
   <br />
   <br />
    {{#link-to 'new-email' classNames="btn btn-primary btn-sm"}}Compose Email{{/link-to}}
  </div>
</div>

