.navbar-brand {
  color: White;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  padding-left: 110px;
  font-size: 2em;
}

.navbar-fixed-top {
  height: 70px;
}

.navbar {
  .navbar-inner {
    background-color: #2c2c2c;
    background-image: url(../img/bamboopaper.jpg);
  }
}

.collapse {
  font-family: 'Alegreya', serif;
  font-size: 125%;
}

.italic {
  color: gray;
  font-size: 90%;
}

h5,
h2,
h1 {
  font-family: 'Cinzel', serif;
  text-align: center;
}

h4,
h3 {
  font-family: 'Alegreya', serif;
  text-align: left;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 115%;
  color: #8B5F65;
}

.li-name {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  float: bottom;
}
.li-desc {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1em;
  float: bottom;
}

.form-group name {
  font-family: 'Alegreya', serif;
  font-size: 100%;
}

html {
    height: 100%;
}

body {
 /* background: url(../img/bamboopaper.jpg);*/
  height: 100%;
  width: 960px;
  margin: 0 auto;
  padding-top: 70px;
}
